<div class="jumbotron ng-scope">
  <h1>Visualization website toolkit</h1>

  <p class="lead">
    Project <span class="χ">χ</span> is a modular open-source visualization gallery toolkit.  It offers a boilerplate for building self-hosted data-centric visualization websites. Geared towards sharing of supplemental materials associated with scientific publications; Project <span class="χ">χ</span> allows visitors to interact with visualizations, download associated data and images, and even try the visualization with their own datasets.  For developers the framework comes preconfigured with the popular design frameworks (Twitter Bootstrap, Angular UI), cutting edge build tools (gulp, jspm, SystemJS), and tools necessary for quickly integrating interactive visualizations using d3.js and AngularJS.
  </p>

  <div class="btn-group">
    <a href="https://github.com/Hypercubed/Project-chi#readme" class="btn btn-primary btn-large">
      <i class="fa fa-book" aria-hidden="true"></i>
      Read the Docs
    </a>
    <a href="https://github.com/Hypercubed/Project-chi" class="btn btn-large btn-success">
      <i class="fa fa-download" aria-hidden="true"></i>
      Download
    </a>
  </div>

</div>
