<div class="row _common_styles_index__index">

  <h2 class="title">{{$ctrl.dataPackage.title}}</h2>
  <p class="lead" marked="$ctrl.dataPackage.description"></p>

  <div class="row">
    <div class="col-md-4" ng-repeat="(filename,file) in $ctrl.dataPackage.resources" ng-if="file.data">
      <a ng-href="{{file.link}}">
        <div class="card" style="background-image: url({{file.data.image}});">
          <div>
            <h3>{{file.data.name}}</h3>
            <p marked="file.data.description"></p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-md-12" marked src="$ctrl.dataPackage.readme"></p>
</div>
