
#_example_chiasm__container {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  width: auto;
  height: 500px;
}

#_example_chiasm__container .axis {
  font: 10px sans-serif;
}

#_example_chiasm__container .axis path,
#_example_chiasm__container .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#_example_chiasm__container .axis-label {
  text-anchor: middle;
  font-size: 1.1em;
}
