@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);


#body > p {
  text-rendering: optimizeLegibility;
}

#_examples_universe__chart #charts {
  min-height: 150px;
}

#_examples_universe__chart .chart {
  display: inline-block;
  height: 151px;
  margin-bottom: 20px;
}
#_examples_universe__chart .reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
}
#_examples_universe__chart .background.bar {
  fill: #ccc;
}
#_examples_universe__chart .foreground.bar {
  fill: steelblue;
}
#_examples_universe__chart .axis path, #_examples_universe__chart .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
#_examples_universe__chart .axis text {
  font: 10px sans-serif;
}
#_examples_universe__chart .brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

#_examples_universe__chart .brush .resize path {
  fill: #eee;
  stroke: #666;
}

#flight-list {
  min-height: 1024px;
}

#flight-list .time {
  color: #999;
}

#flight-list .early {
  color: green;
}
