._examples_bars__bars .axis path,
._examples_bars__bars .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

._examples_bars__bars .bar {
  fill: steelblue;
}

._examples_bars__bars .x.axis path {
  display: none;
}
