<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title><%= template.title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <style type="text/css">
      [ng-cloak] {
        display: none;
      }
    </style>
	  <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />

    <% if (ENV === 'prod' || builder.devBundle === true) { %>
    <link rel="stylesheet" type="text/css" href="bundles/deps-bundle.css?<%= template.bust %>">
    <% } %>
    <% if (ENV === 'prod') { %>
    <link rel="stylesheet" type="text/css" href="bundles/app-bundle.css?<%= template.bust %>">
    <% } %>
    <% if (ENV === 'prod' && template.webcomponents === true) { %>
    <link rel="import" href="bundles/deps-bundle.html?<%= template.bust %>">
    <% } %>
  </head>
  <body ng-cloak>

    <noscript>
      <div class="deprecation-warning">
        <h1>Please enable Javascript</h1>
        <p>Requires your browser to have Javascript enabled.
        <a href="http://enable-javascript.com" target="_blank">Learn more</a></p>
      </div>
    </noscript>

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <%= template.content || '<app></app>' %>

    <% if (ENV === 'prod') { %>
    <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', '<%= template.google %>');
       ga('send', 'pageview');
    </script>
    <% } %>
    <script src="jspm_packages/system.js"></script>

    <% if (ENV === 'prod') { %>
    <script src="jspm.browser.js"></script>
    <% } else { %>
    <script src="jspm.dev.js"></script>
    <% } %>
    <script src="jspm.config.js"></script>

    <script>
      // required to run electron
      if (window.require) {
        window.nodeRequire = require;
        delete window.require;
        delete window.exports;
        delete window.module;
      }
    </script>

    <% if (ENV === 'prod' || builder.devBundle) { %>
    <script src="bundles/deps-bundle.js?<%= template.bust %>"></script>
    <% } %>
    <% if (ENV === 'prod') { %>
    <script src="bundles/app-bundle.js?<%= template.bust %>"></script>
    <% } %>

    <script>
    <% if (template.webcomponents === true) { %>
      // first try to get webcomponentsjs, if not boot anyway
      System.import('webcomponentsjs/webcomponents-lite.js').then(function () {
        window.addEventListener('WebComponentsReady', $$boot);
      }).catch($$boot);
    <% } else { %>
      $$boot();
    <% } %>

      function $$boot () {
        System.import('<%= paths.build %>')
          .catch(function (e) {
            console.error(e, 'Please report this error');
          });
      }
    </script>

</body>
</html>
