<div ng-include="'common/partials/intro.html'"></div>

<div class="row _common_styles_index__index">

  <div class="row" ng-repeat="set in $ctrl.sets">
    <h2 class="title">{{set.data.title}}</h2>
    <p class="lead">{{set.data.description}}</p>

    <div class="col-md-4" ng-repeat="page in set.pages">
      <a ng-href="{{page.link}}">
        <div class="card" ng-style="{ 'background-image': 'url({{page.image}})' }">
          <div>
            <h3>{{page.title}}</h3>
            <p marked="page.description"></p>
          </div>
        </div>
      </a>

    </div>
  </div>

</div>
