
svg {
	font: 10px sans-serif;
}

.axis path {
	display: none;
}

.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.station line {
	stroke: #ddd;
	stroke-dasharray: 1,1;
	shape-rendering: crispEdges;
}

.station text {
	text-anchor: end;
}

.train line {
	stroke-width: 1.5px;
}

.train circle {
	fill: #777;
	stroke: #fff;
	stroke-width: 1.5px;
}
