.facet-item p {
  margin: 0;
  padding: 2px 5px;
}

.facet-list {
  margin-top: 0;
  margin-bottom: 0;
}

.facet-item input {
  float: left;
}

.facet-item .progress {
  height: 10px;
  width: 40%;
  margin: 4px 0;
  background-color: #ccc;
}

.facet-item .progress-bar {
  font-size: 8px;
  line-height: 10px;
}

.facet-item .progress {
  position: relative;
}

.facet-item .progress span {
  position: absolute;
  display: block;
  width: 100%;
  color: black;
  font-weight: bold;
}

.facet-item label {
  margin: 1px 0 1px 5px;
  width : 50%;
  overflow:hidden;
  display:inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.facet-item, .facet-item label {
  cursor: pointer;
}

.panel-facet .panel-body {
  padding: 0;
}

facetbar {
  line-height: 1.6;
}

.tag-bar {
  margin-bottom: 2px;
}

.tag-bar .label {
  margin-right: 2px;
}

.tag-bar i {
  cursor: pointer;
}
